* {
    font-family: 'Montserrat', sans-serif;
}

.footer {
    /* height: 391px; */
    width: 320px;
    background-color: #4f181d;
}

.footer_logo {
    height: 31px;
    width: 66px;
    margin-top: 44px;
    margin-left: 127px;
}

.foot_logo {
    height: 31px;
    width: 66px;
    
}

.footer_place {
    margin-left: 52px;
    height: 16px;
    width: 12px;
    margin-top: 22px;
}

.mesto {
    display: flex;

}

.adress {
    color: #ffffff;
    margin-top: 25px;
    font-size: 14px;
    margin-left: 7px;
}

.footer_telephone {
    margin-top: 18px;
    margin-left: 71px;
    font-size: 14px;
    color: #ffffff;
}

.footer_email {
    margin-top: 11px;
    margin-left: 71px;
    font-size: 14px;
    color: #ffffff;
}

.footer_orange_email {
    color: #f3820a;
    font-size: 14px;
    text-decoration: none;
}

.rectangle1 {
    width: 35px;
    height: 30px;
    border-radius: 10%;
    border-color: #f3820a;
    border: 1px solid #f3820a;
    margin-left: 118px;
    margin-top: 27px;
}

.facebook_logo_footer {
    width: 13px;
    height: 20px;
    fill: white;
    margin-top: 5px;
    margin-left: 11px;
}

.rectangle2 {
    width: 35px;
    height: 30px;
    border-radius: 10%;
    border-color: #f3820a;
    border: 1px solid #f3820a;
    margin-left: 15px;
    margin-top: 27px;
}

.instagram_logo_footer {
    width: 16px;
    height: 16px;
    fill: white;
    margin-top: 7px;
    margin-left: 10px
}


.social_networks {
    display: flex;
}

.button_orange_footer {
    background-color: #f3820a;
    color: black;
    margin-top: 30px;
    margin-left: 40px;
    height: 56px;
    width: 240px;
    border-radius: 5%;
    border: 1px solid #f3820a;
    font-size: 16px;
}

.ho_line_footer {
    margin-top: 54px;
    background-color: #714f52;
    height: 1px;
    width: 320px;
}

.footest_footer {
    height: 60px;
    width: 320px;
    background-color: #421418;
    display: flex;
}

.c {
    margin-left: 29px;
    margin-top: 21px;
    height: 16px;
    width: 16px;
}

.year {
    color: #714f52;
    margin-top: 22px;
    font-size: 11px;
    margin-left: 5px;
}

.branch {
    height: 20px;
    width: 1px;
    background-color: #714f52;
    margin-top: 20px;
    margin-left: 9px;
}

.development {
    font-size: 11px;
    color: #714f52;
    margin-top: 17px;
    margin-left: 10px;
}

.heart {
    margin-left: 6px;
}

.by {
    margin-left: 6px;
}

.link_GoITeens {
    color: #714f52;
}

.foot_logo {
    display: inline-block;
}


@media (min-width: 768px) {
    /* .foot_logo {
        display: inline-block;
    } */
    .footer {
        width: 768px;
        
   }
   
   .footer_2 {
       display: flex;
   }
   
    .foot_logo {
        height: 38px;
       width: 66px;
    }
   
   .footer_logo {
       height: 38px;
       width: 66px;
       margin-left: 39px;
   }
    .footer_place {
        margin-left: 54px;
        margin-top: 43px;
    }

    .adress {
       margin-left: 7px;
       margin-top: 48px;
   }

  


   .footer_telephone {
       margin-left: 58px;
       margin-top: 49px;
   }

   .footer_email {
       margin-left: 58px;
       margin-top: 11px;
   }


   .rectangle1 {
       margin-left: 56px;
       margin-top: 53px;
   }


   .rectangle2 {
    margin-left: 15px;
    margin-top: 53px;
   }


   .button_footer {
       margin-top: 40px;
       margin-left: 238px;
   }


   .ho_line_footer {
       margin-top: 50px;
       width: 768px;
   }


   .footest_footer {
       width: 768px;
       justify-content: center;
   }

}

@media (min-width: 768px) and (orientation: landscape) {}

@media (min-width: 1280px) {


    .footer {
        width: 1280px;
        
   }

   .footer_1 {
       display: flex;
       justify-content: center;
       align-items: center;
   }
   
   .footer_2 {
       display: flex;
       
   }
   
    .foot_logo {
        height: 39px;
        width: 85px;
       
    }
   
   .footer_logo {
       height: 39px;
       width: 85px;
       
       margin-top: 52px;
   }
    .footer_place {
        margin-left: 51px;
        margin-top: 63px;
    }

    .adress {
       margin-left: 7px;
       margin-top: 68px;
       width: 152px;
   }

  


   .footer_telephone {
       margin-left: 58px;
       margin-top: 69px;
   }

   .footer_email {
       margin-left: 58px;
       margin-top: 11px;
       width: 198px;
   }


   .rectangle1 {
       margin-left: 56px;
       margin-top: 73px;
   }


   .rectangle2 {
    margin-left: 15px;
    margin-top: 73px;
   }


   .button_footer {
       margin-left: 55px;
       width: 240px;
       height: 56px;
   }

   .button_orange_footer {
       margin: 0;
   }


   .ho_line_footer {
       margin-top: 62px;
       width: 1280px;
   }


   .footest_footer {
       width: 1280px;
       justify-content: center;
   }





}

@media (min-width: 1280px) and (orientation: landscape) {}

@media (min-width: 1920px)  {

    .footer_1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer_2 {
        display: flex;
        
    }

    .footer {
        width: 1920px;
        
   }
   
  
   
    .foot_logo {
        height: 53px;
       width: 112px;
    }
   
   .footer_logo {
       height: 53px;
       width: 112px;
       margin-top: 56px;
       
   }
    .footer_place {
        margin-left: 149px;
        margin-top: 69px;
    }

    .adress {
       margin-left: 7px;
       margin-top: 74px;
       width: 152px;
   }

  


   .footer_telephone {
       margin-left: 98px;
       margin-top: 75px;
   }

   .footer_email {
       margin-left: 58px;
       margin-top: 11px;
       width: 198px;
   }


   .rectangle1 {
       margin-left: 96px;
       margin-top: 79px;
   }


   .rectangle2 {
    margin-left: 15px;
    margin-top: 79px;
   }


   .button_footer {
       margin-top: 64px;
       margin-left: 173px;
       width: 240px;
       height: 56px;
   }


   .ho_line_footer {
       margin-top: 63px;
       width: 1920px;
   }


   .footest_footer {
       width: 1920px;
       justify-content: center;
   }

}

@media (min-width: 1920px) and (orientation: landscape) {}



